<div class="m-portlet" [ngClass]="{ 'm-portlet--body-progress' : viewLoading, 'm-portlet--body-progress-overlay' : loadingAfterSubmit }">
  <div class="m-portlet__head">
    <div class="m-portlet__head-caption">
      <div class="m-portlet__head-title">
        <span class="m-portlet__head-icon m--hide">
          <i class="la la-gear"></i>
        </span>
        <h3 class="m-portlet__head-text">{{getTitle()}}</h3>
      </div>
    </div>
  </div>
  <form class="m-form" [formGroup]="designationForm">
    <div class="m-portlet__body">

      <div class="m-portlet__body-progress">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>

      <m-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
        Oh snap! Change a few things up and try submitting again.
      </m-alert>

      <div class="form-group m-form__group row">
        <div class="col-lg-8 m--margin-bottom-20-mobile">
          <mat-form-field class="mat-form-field-fluid">
            <input matInput placeholder="Enter Name" formControlName="name" />
            <mat-error>Name is
              <strong>required</strong>
            </mat-error>
            <mat-hint align="start">Please enter
              <strong>Name</strong>
            </mat-hint>
          </mat-form-field>
        </div>
      </div>

    </div>
    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
      <div class="m-form__actions m-form__actions--solid">
        <div class="row text-right">
          <div class="col-lg-12">
            <button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
              Cancel
            </button>&nbsp;
            <button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Save changes">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>